/* Estrutura do site
------------------------------------ */
body {
	background: url(../img/fundo.png) repeat-x;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
	width: 1080px;
	margin: 0 auto;
}

a {
	color: #af670a;
	text-decoration: none;
}

a:hover {
	color: #227115;
}

/* Logo 
------------------------------------ */

#logo a {
	width: 248px;
	height: 21px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}


/* Barra de navegação 
------------------------------------ */
header {
	padding: 15px 0;
	height: 55px;
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	margin: 20px;
	display: flex;
}

nav ul li a {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}

nav ul li a:hover {
	border-bottom: 1px solid #535858;
}

#principal {
    display: flex;
	justify-content: space-between;
}

#conteudo {
	width: 710px;
	margin-bottom: 20px;
}

aside {
	width: 350px;
	background: #ebe7dd;
	padding-bottom: 30px;
	margin-bottom: 20px;
	
}

section#visitas {
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;
}

section#galeria {
	padding: 0 27px 0 27px;
}

#fotos-galeria {
	z-index: 1;
	display: grid;
	grid-template: 50% 50% /
					50% 50%
}

section#galeria a {
	display: block;
	background: url(/img/fundo-foto.png) no-repeat;
	padding: 17px 15px 17px 15px;
	margin: 10px 0 0 20px;
}

section#galeria img {
	margin-left: 2px;
	margin-top: 3px;
}

section#postagens {
	display: grid;
	grid-template: 50% 50% /
					50% 50%;
}

article#video {
	width: 310px;
	margin-left: 25px;
}

article#mapa {
	width: 310px;
	margin-left: 37px;
}

article#exposicoes {
	width: 310px;
	margin: 15px 0 0 25px;
}

article#historia {
	width: 310px;
	margin: 15px 0 0 37px;
}

h3 {
	color: #227115;
	font-size: 1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

h4 {
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

/* Formulários */

input {
    height: 20px;
	width: 80px;
	background: #fff;
	border: none;
	font-size: 1em;
}

input.campo {
	border:1px solid #ada484;
}

input.botao {
	background: #9b9271;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;
}

fieldset {
	border: none;
}

legend {
	display: none;
}

#capa {
	position: relative;
    width: 710px; /* Ajuste conforme a largura desejada */
    margin: 0 auto; /* Centraliza o carrossel */
    overflow: hidden; /* Oculta o excesso de imagens fora do contêiner */
}

/* Estilos para o carrossel */
.carousel {
    position: relative;
    width: 100%;
	height: 320px; /* Ajuste conforme a altura das imagens */
	display: flex;
    align-items: center; /* Alinha os itens no centro verticalmente */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
	width: 100%; /* Define a largura do contêiner de imagens */
}

.carousel-images img {
    width: 100%; /* Deve ser a mesma largura do contêiner */
}

.carousel button {
    position: absolute;
	top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente o botão */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Estilos para o modal */
.modal {
	display: none; /* Escondido por padrão */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
	justify-content: center;
	align-items: center;
	z-index: 10; /* Coloca o modal acima do conteúdo da página */
}

.modal img {
	width: 50%;
	height: 50%;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Efeito de sombra */
}

/* Quando o modal é o alvo (target), ele é exibido */
.modal:target {
    display: flex; /* Mostra o modal ao usar o seletor :target */
}


